@import "style.css";

.flex-post-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.post-container {
  background-color: rgb(245, 245, 245) !important;
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  border-radius: 10px;
  max-width: 500px;
  min-width: 500px;
}

.post-container .post-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-container .post-image img {
  max-width: 200px;
  margin-left: 2rem;
}

.post-container div:first-child {
  margin-bottom: 1rem;
}

.single-post-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.single-post-container {
  background-color: rgb(245, 245, 245) !important;
  padding: 30px;
  margin-top: 40px;
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 10px;
}

.read-more-button {
  color: #fff;
}

th,
td {
  padding: 1rem !important;
  display: table-cell;
  vertical-align: middle;
}

.button-flex {
  display: flex;
  flex-direction: row;
}
